.about{
    margin-top: 175px;
}

.about h2 {
    font-weight: 300;
    font-family: 'Montserrat' sans-serif;
    margin: 1%;
}

.bios {
    margin-top: 70px;

}

.bios h1 {
    font-weight: 300;
    text-decoration: underline;
}

.bios img {
    margin-left: 1%;
}

.YouthMinister {
    margin-top: 50px;
}

.YouthMinister img {
    max-width: 15%;
    margin-right: 30px;
}

.YouthMinister h2 {
    text-align: left;
    margin-left: 1%;
}

.YouthMinister h3 {
    margin-left: 1%;
    text-align: left;
    font-weight: 300;
}

.YouthMinister span {
    font-weight: 300;
    text-align: left;
    margin-left: 1%;
    display: block;
    width: 80%;
    margin-left: 5px;
    text-indent: 4.5%;
}