

body{
    background-color: #797979;
    font-family: 'Montserrat', sans-serif;  
    text-align: center; 
    
}

img{
    border-radius: 5%;
}

a {
    text-decoration: none;
}
.navagation a:link {
    text-decoration: none;
}

.navagation a:hover {
    color: #6c839a
}

a {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.navagation {
    background-color: #0000004f;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
    position: fixed;
    z-index: 10;
    width: 100%; 
    top: 0px;
    left: 0px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.navagation li{
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navagation a {
    font-size: 30px;
    display: inline-block;
    color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
} 

.navagation p {
    text-align: center;
}

.navagation h3 {
    color: white;
}

li:hover {
    color: #6c839a;
}

.footer {
    width: 100%;
    padding-top: 30px;
    color: #454545;
    margin: 0 0 0 0;
    text-align: center;
}