h1 {
    color: #000;
    margin: 10px;
}

h2 {
    margin: 10px;
}

p {
    color: #27272b;
    margin: 10px;
}

.MapsLink {
    color: #000;
}

.joinUs {
    padding-top: 95px;
    color: #FFF;
    text-align: center;
}

.intro{
    text-align: center;
    padding-top: 45px;
}